@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
  --base-font-family     : 'Inter', sans-serif;
  --sidebar-width: 36rem;
  --sidebar-padding: 0 25px 0 350px;
}

.sidebar+.content {
  margin-left: 10rem;
} 

